ENVIRONMENT_TYPE  = Development     # Development | Production
DB_HOST           = 127.0.0.1       # IP, hostname or 'memory'
DB_PORT           = 5432            # Port number, ignored if DB_HOST is memory
DB_DATABASE       = fwshtest        # database name
DB_USER           = postgres        # ignored if DB_HOST is memory
DB_PASSWORD       = password        # ignored if DB_HOST is memory 
DB_LOG_QUERIES    = false           # log database queries to default logger
DB_LOG_UPDATES    = false           # log database updates to default logger
DB_LOGFILE        = console         # database log file name or 'console'
IMAGES_DIR        = ./img           # mock images directory
UPLOAD_DIR        = ../Fwsh.WebApi/var/files     # dir will be created if doesn't exist yet 
MGR_LOGIN         = admin           # login for default manager
MGR_PASSWORD      = admin           # password for default manager
