* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arimo, Arial, "Droid Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-fore-0);
  background-color: var(--color-back-0); 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
