#app-root {
  --reserved-for-footer: 7.0rem;
  min-height: 100vh;
  padding-bottom: var(--reserved-for-footer); 
}

#app-root>.header {
  position: sticky; top: 0; z-index: 9;
  background-color: var(--color-back-0);
  border-bottom: var(--border);
}

#app-root>.footer {
  background-color: var(--color-back-2);
  color: var(--color-fore-2);
  border-top: var(--border);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--reserved-for-footer);
}

#bread {
  min-height: 1rem;
}

#bread .link {
  color: var(--color-fore-1);
}

.line-h {
  display: block;
  height: 1px;
  background-color: var(--color-back-2);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* More important things */

.block {
  display: block;
  width: 100%;
}

.hidden {
  width: 0px;
  height: 0px;
}

.transparent {
  opacity: 0%;
}

.opacity-50 {
  opacity: 50%; 
}

.disabled.disabled, [disabled] {
  opacity: 25%;
  pointer-events: none;
}

/* margins */
.margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.margin-bottom,
.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

/* padding */
.pad-025 {
  padding: 0.25rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-15 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-h-05 {
  padding: 0 0.5rem;
}

.pad-h-1 {
  padding: 0 1rem;
}

.pad-05-1 {
  padding: 0.5rem 1rem;
}

.pad-1-05 {
  padding: 1rem 0.5rem;
}

/* flex spacing */
.flex-spacing-1, .flex-pad-1 {
  column-gap: 1rem;
  row-gap: 1rem;
}

/* fixed height*/
.height-1 {
  min-height: 1rem;
}

.height-2 {
  min-height: 2rem;
}
