#app-root {
  --reserved-for-footer: 6.5rem;
  min-height: 100vh;
  padding-bottom: var(--reserved-for-footer); 
}

#app-root>.header {
  position: sticky; top: 0; z-index: 9;
  background-color: var(--color-back-0);
  border-bottom: var(--border);
  box-shadow: 0 4px 24px rgba(0,0,0, 0.05);
}

#app-root>.footer {
  background-color: var(--color-back-2);
  color: var(--color-fore-2);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--reserved-for-footer);
}

.line-h {
  display: block;
  height: 1px;
  background-color: var(--color-back-2);
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* More important things */

.block {
  display: block;
  width: 100%;
}

/* margins */
.margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.margin-bottom,
.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

/* padding */
.pad-025 {
  padding: 0.25rem;
}

.pad-05 {
  padding: 0.5rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-15 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-h-05 {
  padding: 0 0.5rem;
}

.pad-h-1 {
  padding: 0 1rem;
}

.pad-05-1 {
  padding: 0.5rem 1rem;
}

/* flex spacing */
.flex-spacing-1 {
  column-gap: 1rem;
  row-gap: 1rem;
}

/* fixed height*/
.height-1 {
  min-height: 1rem;
}

.height-2 {
  min-height: 2rem;
}
